# ============================================================
# Local env config
# ============================================================
.env

# ============================================================
# Virtual env
# ============================================================
.venv/
venv/
env/

# ============================================================
# Python cache
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc~
*.egg-info/
dist/
build/

# ============================================================
# PyCharm config
# ============================================================
.idea/
*.iml
*.iws
*.ipr

# ============================================================
# Test reports and logs
# ============================================================
report/
*.log
*.xml

# ============================================================
# System files
# ============================================================
.DS_Store
Thumbs.db
