# ============================================================
# Local env config
# ============================================================
.env

# ============================================================
# Virtual env
# ============================================================
.venv/
venv/
env/

# ============================================================
# Python cache
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc~
*.egg-info/
build/

# ============================================================
# PyCharm config
# ============================================================
.idea/
*.iml
*.iws
*.ipr

# ============================================================
# Test reports and logs
# ============================================================
report/
*.log
*.xml

# ============================================================
# System files
# ============================================================
.DS_Store
Thumbs.db

# ============================================================
# CI/CD files
# ============================================================
.gitlab-ci.yml
notify.py

# 前端依赖包
platform/frontend/node_modules/

# 打包产物（如果不想上传dist）
platform/frontend/dist
platform/backend/static/dist