[Unit]
Description=Test Platform Backend
After=network.target

[Service]
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{PROJECT_ROOT}}/platform/backend
Environment="PATH={{PATH}}"
Environment="PLATFORM_PORT=5000"
Environment="PLATFORM_USER=admin"
Environment="PLATFORM_PASSWORD=admin123"
Environment="FLASK_SECRET_KEY={{SECRET_KEY}}"
ExecStart={{PROJECT_ROOT}}/venv/bin/gunicorn -c {{PROJECT_ROOT}}/platform/deploy/gunicorn_config.py app:app
Restart=always

[Install]
WantedBy=multi-user.target
