# 平台管理后台登录账号
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SECRET_KEY=change-me-in-prod

# 用户管理新增环境变量
PLATFORM_USER=admin
PLATFORM_PASSWORD=admin123
PLATFORM_ROLE_ADMIN=admin

# 被测系统默认配置
TARGET_BASE_URL=https://fin-tidb.21eflag.com/
TARGET_USERNAME=18234337456
TARGET_PASSWORD=yhd123456!
TARGET_TOKEN_FIELD=data.token

# Flask 监听
BIND_HOST=0.0.0.0
BIND_PORT=5000

# JWT 过期（秒），0 = 不过期（仅内网）
TOKEN_EXPIRE_SECONDS=0
